@charset "utf-8";

/* 공용 스타일 */ 
*{font-family: 'Roboto', sans-serif; box-sizing: border-box;}
body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}
.section{
    width: 100%;
    height: 100vh;
    max-width: 1920px;
    margin: 0 auto;
}

/* header */ 
header{
    max-width: 1920px;
    min-width: 1824px;
    margin: 0 auto;
    .category{
        width: 100%;
        height: 100%;
        .category_wrap{
            position: absolute;
            padding: 60px 0 0 96px;
            z-index: 99 !important;
            cursor: pointer;
            span{
                display: block;
                width: 26px;
                height: 2px;
                background: #1b1c1b;
                margin-bottom: 6px;
                transition: all .4s;
            }
        } //e: .category_wrap
        .category_wrap.click_btn{
            display: block;
            span{
                width: 26px;
                background: #fff;
                position: absolute;
                top: 60px; left: 96px;
                margin: 0;
                padding: 0;
                z-index: 99 !important;
            }
            span:first-child{
               transform: rotate(135deg); 
            }
            span:last-child{
               transform: rotate(-135deg); 
            }
        } //e: .category_wrap.click_btn
        .category_nav.open{
            display: block;
        }
        .category_nav{
            display: none;
            width: 100%;
            height: 100vh;
            background: rgba(38,38,38,1);
            position: fixed;
            top: 0; left: 0;
            z-index: 20;

            .sub_menu a:hover{
                color: #3989de;
            }
            .sub_menu{
                display: none;
                a{
                    display: flex;
                    flex-direction: column;
                    font-size: 46px;
                    font-weight: bold;
                    padding: 20px 0;
                    letter-spacing: 0.06em;
                    color: #fff;
                    transition: all .4s;
                }
                a:not(a:last-child){
                    padding-bottom: 5px;
                }
            } //e: .sub_menu
            ul{
                margin-top: 12%;
            }
            li{
                width: 100%;
                text-align: center;
            }
            .category_menu a.active{
                color: #fff;
            }
            .category_menu a{
                position: relative;
                display: inline-block;
                font-weight: bold;
                padding: 20px 0;
                font-size: 96px;
                letter-spacing: 0.02em;
                -webkit-text-stroke: 1px #fff;
                color: transparent;
                span{
                    display: block;
                    width: 24px;
                    height: 4px;
                    background: #fff;
                    position: absolute;
                    top: 50%; right: -1em;
                }
                span:first-child{
                    transform: rotate(90deg);
                    transition: all .4s;
                }
                span:first-child.action{
                    transform: rotate(0deg);
                }
                .plus{
                    right: -1.18em;
                }
            } //e: .category_menu a
        } //e: .category_nav
        #logo{
            position: absolute;
            right: 50%;
            transform: translateX(50%);
            padding-top: 43px;
            a{
                display: block;
                width: 65px;
                height: 43px;
                font-size: 0;
                cursor: pointer;
                background: url(../img/logo.svg) no-repeat center / cover;
            }
        } //e: #logo
        nav{
            width: 100%;
            margin: 0 auto;
            position: absolute;
            top: 0; left: 0;
            z-index: 5;
            #nav li a:hover{
                color: #3989de;
                transition: all .4s;
            }
            #nav{
                display: flex;
                justify-content: flex-end;
                margin: 0 auto;
                padding-top: 60px;
                
                li:last-child{
                    margin-right: 96px;
                }
                li:not(:last-child){
                    margin-right: 50px;
                }
                a{
                    font-size: 14px;
                    font-weight: bold;
                    color: #1b1c1b;
                    cursor: pointer;
                }
            } //e: #nav
        } //e: nav
    } //e: category
} //e: header

/*sections */ 
/* main_section */ 
#main_section{
    position: relative;
    height: 100vh;
    max-width: 1920px;
    background: url(../img/bowling2.png) no-repeat center center/ auto;
    .main_wrap{
        position: absolute;
        top: 45%; left: 50%;
        transform: translate(-50%, -50%);
        h2:first-child{
            margin-bottom: 150px;
        }
        #main_title1{
            margin-left: 20px;
            font-size: 70px;
            font-weight: bold;
            color: #e3e3e3;
            opacity: 0;
        }
        #main_title2{
            font-size: 142px;
            font-weight: 700;
            color: #1b1c1b;
            z-index: 10;
            opacity: 0;
        }
    } //e: .main_wrap
}//e: #main_section


/* philosophy section */ 
#philosophy{
    overflow: hidden;
    .philo_wrap{
        width: 100%;
        height: 100vh;
        display: flex;
        li{
            .philo_title{
                position: absolute;
                top: 50%; left: 50%;
                transform: translate(-50%,-50%);
                font-size: 24px;
                font-weight: 600;
                color: #fff;
                cursor: default;
            } //e: .philo_title
            .center{
                text-align: center;
            } //e: .center
            .philo_hover{
                position: absolute;
                top: 50%; left: 50%;
                transform: translate(-50%,-50%);
                z-index: 10;
                font-family: 'Noto Sans KR', sans-serif;
                font-size: 20px;
                font-weight: bold;
                text-align: center;
                color: #fff;
                line-height: 130%;
                display: none;
                cursor: default;
            } //e: .philo_hover
        } //e: li
    } //e: .philo_wrap
    .philo_wrap li:nth-child(1){ // philosophy 배경이미지
        background: url(../img/comfort.jpg) no-repeat center center / cover;
    }
    .philo_wrap li:nth-child(2){
        background: url(../img/eco.jpg) no-repeat center center / cover;
    }
    .philo_wrap li:nth-child(3){
        background: url(../img/science.jpg) no-repeat center center / cover;
    }
    .philo_wrap li:nth-child(4){
        background: url(../img/life.jpg) no-repeat center center / cover;
    }
    .philo_wrap li:hover:nth-child(1){ // hover했을 때 배경 이미지
        background: url(../img/comfort_c.jpg) no-repeat center center / cover;
    }
    .philo_wrap li:hover:nth-child(2){
        background: url(../img/eco_c.jpg) no-repeat center center / cover;
    }
    .philo_wrap li:hover:nth-child(3){
        background: url(../img/science_c.jpg) no-repeat center center / cover;
    }
    .philo_wrap li:hover:nth-child(4){
        background: url(../img/life_c.jpg) no-repeat center center / cover;
    }    
} //e: #philosophy

/* advance section */ 
#advance{
    .advance_title{
        padding: 330px 30% 90px 30%;
        text-align: center;
        opacity: 0;
        .title{
            font-size: 38px;
            font-weight: bold;
            margin-bottom: 20px;
            color: #1b1c1b;
        }
        .sub_title{
            font-size: 18px;
            font-weight: 500;
            font-family: 'Noto Sans KR', sans-serif;
            margin-bottom: 30px;
            color: #424542;
        }
        .line::after{
            content: '';
            display: block;
            width: 50px; height: 2px;
            background: #a4a4a4;
            position: absolute;
            left: 50%; 
            transform: translateX(-50%);
        }
        .content{
            display: block;
            font-size: 16px;
            font-family: 'Noto Sans KR', sans-serif;
            color: #a4a4a4;
            line-height: 135%;
            margin-top: 60px;
        }
    } //e: .advance_title
    .advance_icon{
        width: 100%;
        height: 100%;
        .advance_wrap{
            padding: 0 30%;
            display: flex;
            align-items: flex-start;
            justify-content: space-evenly;
            li{
                margin: 0 35px;
                opacity: 0;
                .advance_txt{
                    font-size: 14px;
                    font-weight: bold;
                    color: #424542;
                    margin-bottom: 5px;
                }
                .icon_action1, .icon_action2,
                .icon_action3, .icon_action4{
                     opacity: 0;
                 }
                .advance_txt_wrap{
                    text-align: center;
                    padding: 5px 0;
                    p{
                        line-height: 16px;
                        font-size: 12px;
                        font-family: 'Noto Sans KR', sans-serif;
                    }
                }
            } //e: li
        } //e: .advance_wrap
    } //e: .advance_icon
} //e: #advance

/* factorium section */ 
#factorium{
    width: 100%;
    height: auto;
    margin: 0 auto;
    max-width: 1920px;
    .factorium_container{
        position: relative;
        width: 100%;
        height: 100%;
        padding: 7% 10% 0 10%;
        .title_m{
            font-size: 0;
        }
        p.img{
            font-size: 0;
            width: 709px;
            height: 396px;
        } //e: p.img
        .title_wrap .txt_left{
            margin-left: 60px;
        }
        .title_wrap .txt_right{
            margin-right: 60px;
        }
        .wrapper{
            display: flex;
            flex-direction: column;
            .high{padding: 50px;}
            .factorium_wrap1{
                position: relative;
                padding: 100px 0 500px 0;
                .scroll_txt{
                    position: absolute;
                    top: 0;
                    padding-left: 60px;
                    display: block;
                    font-size: 150px;
                    font-weight: 700;
                    color: #efefef;
                    opacity: 0;
                    z-index: 10;
                }    
                .high1{
                    opacity: 0;
                    margin-top: 30px;
                }
                .title_wrap{
                    display: flex;
                    align-items: center;
                    .title{
                        display: block;
                        font-size: 28px;
                        line-height: 125%;
                        font-weight: 700;
                        font-family: 'Noto Sans KR', sans-serif;
                        margin-bottom: 20px;
                        color: #2d2a2a;
                    }
                    .sub_title{
                        display: block;
                        font-size: 16px;
                        line-height: 135%;
                        font-weight: 300;
                        font-family: 'Noto Sans KR', sans-serif;
                        color: #c0c0c0;
                    }
                } //e: .title_wrap
                .f_img1{
                    background: url(../img/factorium1.svg) no-repeat center / cover;
                } //e: .f_img1
            } //e: .factorium_wrap1
            .factorium_wrap2{
                position: relative;
                padding-bottom: 500px;
                .scroll_txt{
                    position: absolute;
                    top: -150px; right: 0;
                    padding-right: 25px;
                    margin-top: 20px;
                    display: block;
                    font-size: 150px;
                    font-weight: 700;
                    color: #efefef;
                    transform: translateY(50px);
                    opacity: 0;
                    z-index: 10;
                }   
                .title_wrap{
                    display: flex;
                    align-items: center;
                    flex-direction: row-reverse;
                    text-align: right;
                    transform: translateY(50px);
                    opacity: 0;
                    .title{
                        display: block;
                        font-size: 28px;
                        line-height: 125%;
                        font-weight: 700;
                        font-family: 'Noto Sans KR', sans-serif;
                        margin-bottom: 20px;
                        color: #2d2a2a;
                    }
                    .sub_title{
                        display: block;
                        font-size: 16px;
                        line-height: 135%;
                        font-weight: 300;
                        font-family: 'Noto Sans KR', sans-serif;
                        color: #c0c0c0;
                    }
                } //e: .title_wrap
                .f_img2{
                    background: url(../img/factorium2.svg) no-repeat center / cover;
                } //e: .f_img1
            } //e: .factorium_wrap2
            .factorium_wrap3{
                padding-top: 0;
                padding-bottom: 300px;
                .scroll_txt{
                    top: -150px;
                    padding-left: 50px;
                    margin-top: 20px;
                }
                .high3{
                    opacity: 0;
                }
                .f_img3{
                    background: url(../img/factorium3.svg) no-repeat center / cover;
                } //e: .f_img1
            } //e: .factorium_wrap3
        } //e: .wrapper
    } //e: .factorium_container
} //e: #factorium

/* terrace section */ 
#terrace{
    overflow: hidden;
    position: relative;
    background: #f0f1f2;
    .title_m{
        font-size: 0;
    }
    .terrace_title{
        position: absolute;
        left: 0;
        padding: 40px 0;
        font-size: 150px;
        font-weight: 700;
        font-family: 'Merriweather', serif;
        color: #c4c4c4;
        z-index: 5;
    }
    .terrace_title2{
        position: absolute;
        bottom: 0; right: 0;
        padding: 40px 0;
        font-size: 150px;
        font-weight: 700;
        font-family: 'Merriweather', serif;
        color: #c4c4c4;
        z-index: 5;
    }
    .terrace_wrap{
        position: relative;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        padding-left: 70px;
        @media (hover: hover) {
            .box_all:hover{
                .box_content .box_hover{
                    transform:translateX(0);
                    transition: all .6s;
                }
                .box_content{
                    transform: translateY(-30px);
                    box-shadow: 5px 5px 30px #999;
                    transition: all .6s ease-out;
                }
            } //e: .box_all:hover   
        } //e: @media hover 
        .box_all{
            width: 709px;
            height: 396px;
            padding-right:70px;
            .box_content{
                width: 100%; height: 100%;
                position: relative;
                overflow: hidden;
            } //e: .box_content
            .inner_m{
                font-size: 0;
                z-index: -1;
            } //e: .inner_m
            .box_content .box_hover{
                width: 260px;
                height: 396px;
                background: #1b1c1b;
                opacity: .9;
                position: absolute;
                right: 0;
                transform:translateX(100%);
                transition: all .4s;
                z-index: 1;
                .box_inner{
                    display: block;
                    padding-top: 200px;
                    div{width:84%; margin:0 auto;}
                }
                p{
                    text-align:left;
                }
                p:first-child{
                    font-size: 26px;
                    font-weight: bold;
                    color: #fff;
                    margin-bottom: 10px;
                }
                p:not(:first-child){
                    font-size: 14px;
                    font-weight: 400;
                    font-family: 'Noto Sans KR', sans-serif;
                    line-height: 135%;
                    color: #9da0a0;
                }
                .point{
                    display: block;
                    padding: 35px 0 0 9%;
                }
            } //e: .box_hover
            .box1{
                background: url(../img/box1.jpg) no-repeat center / cover;
            }
            .box2{
                background: url(../img/box2.jpg) no-repeat center center / cover;
            }
            .box3{
                background: url(../img/box3.jpg) no-repeat center center / cover;
            }
            .box4{
                background: url(../img/box4.jpg) no-repeat center center / cover;
            }
        } //e: .box_all
    } //e: .terrace_bg
} //e: #terrace

/* media_section */ 
#media_section{
    height: 100vh;
    .media_title{
        display: flex;
        justify-content: center;
        padding: 7% 0 20px 0;
        transform: translateY(50px);
        opacity: 0;
        span{
            margin: 0 0.2em;
            font-weight: bold;
            font-size: 110px;
            -webkit-text-stroke:1.5px #424542;
            color:transparent;
        }  
    } //e: .media_title
    .video{
        position: relative;
        width: 100%;
        max-width: 800px;
        max-height: 450px;
        margin: 0 auto;
        .player{
            width: 100%;
            max-width: 800px;
            max-height: 450px;
        } 
    } //e: .video_player
} //e: #media_section

/* footer */ 
footer{
    background: #1b1c1b;
    .footer_wrap{
        position: relative;
        display: flex;
        flex-direction: row;
        max-width: 1920px;
        padding: 48px 5%;
        margin: 0 auto;
    } //e: .footer_wrap
    .bt_logo{
        display: block;
        font-size: 0;
        width: 104px; height: 66px;
        background: url(../img/bt_logo.svg) no-repeat center center;
    } //e: .bt_logo
    .footer_inner{
        margin-left: 5%;
        .copyright{
            color: #9da0a0;
            font-size: 14px;
        }
        .footer_menu{
            margin-bottom: 30px;
            ul{
                display: flex;
                flex-direction: row;
            }
            li:not(li:last-child){
                margin-right: 20px;
            }
            li a{
                color: #fff;
                font-size: 14px;
                font-weight: bold;
                font-family: 'Noto Sans KR', sans-serif;
            }
        } //e: .footer_menu
        .footer_info{
            .page_adress{
                font-size: 12px;
                color: #9da0a0;
                margin-bottom: 30px;
            } //e: .page_adress
            .info_txt{
                font-size: 0;
                max-width: 1000px;
                padding-right: 100px;
                margin-bottom: 10px;
                span{
                    font-size: 12px;
                    color: #9da0a0;
                    line-height: 1;
                    font-weight: 400;
                    margin-top: 3px;
                    margin-bottom: 3px;
                    display: inline-block;
                    a{
                        color: #c4c4c4;
                        font-weight: bold;
                    }
                }
                span:not(:last-child){
                    border-right: 1px solid #9da0a0;
                    margin-right: 6px;
                    padding-right: 6px;
                }
            } //e: .info_txt
        } //e: .footer_info
    } //e: .footer_inner
    .sns_group{
        position: absolute;
        display: flex;
        top: 48px; right: 0;
        padding-right: 5%;
        font-size: 0;
        .sns{
            display: block;
            width: 40px; height: 40px;
            margin-left: 20px;
        }
        .insta{
            background: url(../img/instagram_03.png) no-repeat;
        }
        .face{
            background: url(../img/facebook_03.png) no-repeat;
        }
        .kakao{
            background: url(../img/kakao_03.png) no-repeat;
        }
    } //e: .sns_group
} //e: footer